.child{
    display: flex;
    column-gap: 50px;
}
.child button{
    border: 1px solid #adff2f;
    padding: 20px 50px;
    font-size: xx-large;
    background-color: #4343ed;
    border-radius: 50%;
}
.child button:hover{
    background-color: hsl(313, 93%, 51%);
    cursor: pointer;
}
.haed{
    font-size: 50px;
    font-weight: bolder;
}
.parent{
    background-color: #58f1f1;
    border-radius: 10px;
    border: 1px solid #000000;
    width: fit-content;
    padding: 40px;
}
.mainParent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}
hr{
    background-color: #000000;
}
